span.title
{
	color: black;
	background-color: lightgreen;
	font-size: 50px;
}
h1.title
{
	color: white;
	font-size: 50px;
}
section.home
{
	background-color: green;
}
article.home
{
	width:28%;
	margin:10px;
	background-position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	size: 1000px;
	height: 1000px;
	color:white;
	float:left;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
li 
{
	float: left;
}
li a 
{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: courier;
}	
li a:hover 
{
	background-color: black;
   	color: white;
}
h2.tab
{
	color:white;
	text-align: center;
	background-color: lightgreen;
}
img{
	width: 450px;
	height: 300px;
	margin: 1px;
}