span.title
{
	color: black;
	background-color: yellow;
	font-size: 50px;
}
h1.title
{
	color: white;
	font-size: 50px;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}
li 
{
	float: left;
}
li a 
{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: courier;
}	
li a:hover 
{
	background-color: black;
   	color: white;
}
body.home
{
	background-image: url("../images/typing.jpg");
	background-position: all;
}
div.signup
{
	align-self: center;
	text-align: center;
	margin-top: 60px;
}
input.signup
{
	width: 30%;
	height: 35px;
	margin: 25px;
	padding: 5px;
	font-size: 20px;
}
label.signup
{
	color:white;
	text-align: center;
	font-size: 30px;
}

.signin{
  border-radius: 8px;
  background-color: yellow;
  border: none;
  color: black;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 6px 2px;
  cursor: pointer;
  //transform: translate(-25%, -25%);
  //-ms-transform: translate(-25%, -25%);
}				
input
{
  -moz-border-radius: 15px;
 border-radius: 15px;
    border:solid 1px black;
    padding:5px;
}	
